<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feliperrm.doctororganizer">

    <application
        android:name=".Utils.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <meta-data
            android:name="AA_MODELS"
            android:value="com.feliperrm.doctororganizer.Models.User, com.feliperrm.doctororganizer.Models.Conference, com.feliperrm.doctororganizer.Models.Participants, com.feliperrm.doctororganizer.Models.Suggestion, com.feliperrm.doctororganizer.Models.Invitation" />

        <activity android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent" />
        <activity android:name=".Activities.LoginSuccessActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.MainActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>